* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #333;
  --secondary-color: #00a6ff;
  --tertiary-color: #c5f8fd;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--tertiary-color);
}

.container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
}

.container a {
  text-decoration: none;
  color: var(--primary-color);
}

#start {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}

.questions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  line-height: 50px;
}

.flex-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  line-height: 50px;
}
.btn {
  width: 60%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 15px;
  background-color: var(--secondary-color);
  border: solid 2px;
  color: var(--primary-color);
}

.hide {
  display: none;
}

#finish.hide {
  display: none;
}

#correct.hide {
  display: none;
}

#incorrect.hide {
  display: none;
}

#start.hide {
    display: none;
}

#correct,
#incorrect {
  display: flex;
  justify-content: center;
  font-size: large;
}

#correct {
color:yellowgreen;
}

#incorrect {
    color: red;
}

.btn:hover {
  opacity: 40%;
}

a:hover {
  opacity: 40%;
}

#finish {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  line-height: 50px;
}

#scoreBtn {
  width: 75%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  line-height: 50px;
}

.high-score {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.list-Scores {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  line-height: 50px;
}

#question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
